name: Pylint
on:
  pull_request:
    branches:
      - main
      - release
    paths:
      - "**/*.py"
jobs:
  lint:
    runs-on: ubuntu-latest  # runner environment
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10"]



